.user{
    font-size: medium;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
.activeUsers{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    min-width: 250px;
}